/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes shake {

    0%,
    100% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(-3px);
    }

    40% {
        transform: translateX(3px);
    }

    60% {
        transform: translateX(-3px);
    }

    80% {
        transform: translateX(3px);
    }
}

.shake {
    animation: shake 0.4s ease-in-out;
}